<!doctype html>
<html>
<!-- https://codepen.io/shagunjusta/pen/RePLRN?page=2 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Material Design</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href="style.css">
</head>

<body class = 'wrapper'>
    <header class="stickyHeader" id="stickyHeader">
        <div class="navbar">
            <ul class='navbarlist'>
                <li class='home'><a href="#">Home</a></li>
                <li class='about'><a href="#">About</a></li>
                <li class='services'><a href="#">Services</a></li>
                <li class='contact'><a href="#">Contact</a></li>
                <li class='login'><a href="/login">Login/Register</a></li>
            
            </ul>
        </div>
    </header>
    <section>
        <article class="header-text">
            test
        </article>
    </section>

</body>

</html>