<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h1>
        Login
    </h1>
    <form>
        <input type="input" id="loginUsername" placeholder="Username"/>
        <input type="password" id="loginPassword" placeholder="Password"/>
        <button id="loginSubmit">
            Login
        </button>

    </form>
    <h1>
        Register
    </h1>
    <input type="input" id="registerUsername" placeholder="Username"/>
    <input type="input" id="registerEmail" placeholder="Email"/>
    <input type="password" id="registerPassword" placeholder="Password"/>
    <button id="registerSubmit">
        Register
    </button>
    <br>
    <form>
        <!-- <input type="input" id="loginUsername"/> -->
        <!-- <input type="input" id="loginPassword"/> -->
        <!-- <input type="submt" id="loginSubmit"/> -->
    </form>

</body>
<script>
    $("#registerSubmit").on("click", function (data) {
        var username = $("#registerUsername").val();
        var email = $("#registerEmail").val();
        var password = $("#registerPassword").val();

        var url = "/user/register"
        var data = {
            "username": username,
            "email" : email,
            "password": password
        }

        function success() {
            console.log("cool");
        }
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: success,
            dataType: "application/json"
        });
    })
    $("#loginSubmit").on("click", function (data) {
        var username = $("#loginUsername").val();
        var password = $("#loginPassword").val();

        var url = "/user/login"
        var data = {
            "username": username,
            "password": password
        }

        function success() {
            console.log("cool");
        }
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: success,
            dataType: "application/json"
        });
    })
</script>

</html>