

.wrapper {

    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
}

.stickyHeader {
    background-color:#D4F0FB;
}

.page1-text {
    grid-area: text-body;
    text-align: center;
    margin-top: 20pc;
    margin-left: 5pc;
    font-family: 'Bitter', serif;
    font-size: 5pc;
    font-weight: bold;
}

.page-text {
    grid-area: text-body;

}

.page-photo {
    grid-area: photo-body;
    background: transparent;
    margin-top: 10pc;
    width: 500px;
    height: 500px;
}

a {
    color: black;
}

.page {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-areas:
    "text-body photo-body" 
}

section {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;

}

.navbarlist {
    margin-top: 2pc;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    text-decoration-color: black;
    font-weight: bold;
    grid-template-areas:
    "home about services contact login";
    
}

body {
    background-color: #D4F0FB;
    height: 100%;
}

.home {
    grid-area: home;
    text-align: center;
}

.about {
    grid-area: about;
    text-align: center;
}

.services {
    grid-area: services;
    text-align: center;
}

.contact {
    grid-area: contact;
    text-align: center;
}
.login {
    grid-area: login;
    text-align: center;
}