img{
    object-fit: cover;
    width: 80%
}
input[type="text"]{
    object-fit: cover;
    width:80%;
    height: 80%;
    font-size: 20px;
}
input[type="submit"]{
    width:80%;    
    height: 80%;
    font-size: 20px;
}