body{
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#worktabhtml{
    display: hidden;
}
.gridwrapper{
    height: 100%;
    border-style: solid;
}
.griditem{
    display:grid; 
    align-items: center;
    border-style: solid;
    overflow-x: hidden;
    overflow-y: hidden;
}
.griditemcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}   
.selected{
    border: solid;
    border-color: #0097bd;
    border-width: 10px;
    background-color: #e2f9ff;
}
.center {
    margin: auto;
    width: 0%;
}
.message{
    position:absolute;
    bottom: 100px;
    color: white;
    background-color: #181818;
    border-color:black;
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 200%;
}