@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
}

a {
    color: #ffffff;
}

nav {
    background-color: transparent !important;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: none;
}

.navbar {
    background-color: #000;
    /* background-image: linear-gradient(to bottom, #a357fd, #8b3d9e); */
    box-shadow: 0 5px 10px #0000003d, 0 5px 10px #0000003d;
    position: relative;
}

.stickyHeader {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

.navbar ul {
    display: inline-flex;
    margin: 0;
}

.navbar ul li {
    padding: 30px 69px;
    list-style: none;
    text-transform: uppercase;
}

.navbar ul li:hover {
    background: #020229;
    transition: 0.4s ease-in-out;
}

.navbar ul li:hover a {
    color: #ffffff;
}

.header-text h2 {
    margin: 0 0 20px;
    width: 100%;
    font-size: 35px;
}

.header-text {
    background-color: #f2f3f8;
    width: 100%;
    float: left;
    padding: 140px 40px;
}

.header-text p {
    font-size: 16px;
    line-height: 30px;
}

.content-text {
    border: 1px solid #e3e5ef;
    padding: 30px;
    background: #fff;
}

.context-division {
    width: 50%;
    display: flex;
    padding: 0 15px;
}

.content-block {
    display: flex;
}

@media only screen and (max-width: 1024px) {
    .navbar ul li {
        padding: 30px 60px;
    }

    .content-block {
        display: block;
    }

    .context-division {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar ul li {
        padding: 20px 10px;
    }

    .header-text {
        padding: 100px 0px;
    }

    .header-text h2 {
        font-size: 28px;
    }

    .content-text {
        padding: 20px;
    }
}